

.popup__text-error:first-of-type{
    top: 35px;
}

.popup__text-error{
    opacity: 0;
    color:#FF0000;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    position:absolute;
    font-size: 12px;
    left:0;
    top: 96px;
    transition: 0.3s;
}

