.popup__input-container{
    position: relative;
    border:0;
    padding: 0%;
    width:358px;
    margin: auto;
}
@media screen and (max-width:768px){
    .popup__input-container{
        width:290px;
    }
}
@media screen and (max-width:425px){
    .popup__input-container{
        width:238px;
    }
}