.popup__close_name_image{
    position:absolute;
    background: url('../../../../images/Close_Icon.svg');
    background-repeat: no-repeat;
    height: 40px;
    width:40px;
    box-sizing: border-box;
    background-position: center;
    background-size:cover;
    top:-40px;
    right:-40px;
    cursor: pointer;
    transition: 0.3s;
}

.popup__close_name_image:hover{
    opacity: 0.6;
}

@media screen and (max-width:425px){
    .popup__close_name_image{
        right:0;
        width: 26px;
        height: 26px;

    }
}