.popup__submit{
    width: 358px;
    height: 50px;
    background-color: #000000;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 0%;
    border-radius: 2px;
    margin:48px 36px 37px 36px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    }
    .popup__submit:hover{
    opacity: 0.8;
    }
    
    @media screen and (max-width:768px){
    .popup__submit{
        margin:auto;
        width:50%;
        margin-left:20px;
        margin-bottom:30px;
    
    }
    }
    @media screen and (max-width:425px){
    .popup__submit{
        width:238px;
        margin: 45px 22px 25px 22px;
    }
    }