.profile__info{
    border:1px solid red;
    padding:0;
    max-width: 336px;
    margin:22px 0  25px 30px;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:425px){
    .profile__info{
        margin: 28px 0px 36px 0px;
    }
}