.footer{
    border:1px solid red;
    margin:0 auto;
    margin-top:66px;
    margin-bottom:60px;
    max-width:880px;  
}
@media screen and (max-width:900px){
    .footer{
        max-width: 680px;
        margin: 28px 40px 42px 40px;
    }
}
@media screen and (max-width:320px){
    .footer{
        max-width:282px;
        margin-top:48px;
        margin-bottom:36px;
    }
}